Repository momszx/project-templates-spring-react, pull requests merged in 2020-11, with the labels that each got.

#27 #26 Dao implementáció
  backend/src/main/java/hu/uni/eku/tzs/dao/EmployeeRepository.java
  backend/src/main/java/hu/uni/eku/tzs/dao/GuestRepository.java
  backend/src/main/java/hu/uni/eku/tzs/dao/PositionRepository.java
  backend/src/main/java/hu/uni/eku/tzs/dao/ProductsRepository.java
  backend/src/main/java/hu/uni/eku/tzs/dao/ServiceRepository.java
  backend/src/main/java/hu/uni/eku/tzs/dao/SummaryRepository.java
Labels: Backend, Coding

#29 #28 Entityk létrehozása
  backend/src/main/java/hu/uni/eku/team3/dao/entity/ComplexNumber.java
  backend/src/main/java/hu/uni/eku/team3/dao/entity/Employee.java
  backend/src/main/java/hu/uni/eku/team3/dao/entity/Guest.java
  backend/src/main/java/hu/uni/eku/team3/dao/entity/Position.java
  backend/src/main/java/hu/uni/eku/team3/dao/entity/Products.java
  backend/src/main/java/hu/uni/eku/team3/dao/entity/Service.java
  backend/src/main/java/hu/uni/eku/team3/dao/entity/Summary.java
Labels: Backend, Coding

#33 #32 Modellek frissítése
  backend/src/main/java/hu/uni/eku/team3/App.java
  backend/src/main/java/hu/uni/eku/team3/config/SwaggerConfig.java
  backend/src/main/java/hu/uni/eku/team3/model/ComplexNumber.java
  backend/src/main/java/hu/uni/eku/team3/model/Employee.java
  backend/src/main/java/hu/uni/eku/team3/model/Guest.java
  backend/src/main/java/hu/uni/eku/team3/model/Position.java
  backend/src/main/java/hu/uni/eku/team3/model/Products.java
  backend/src/main/java/hu/uni/eku/team3/model/Service.java
  backend/src/main/java/hu/uni/eku/team3/model/Summary.java
Labels: Backend, Coding

#35 #34 Daok implementálása
  backend/src/main/java/hu/uni/eku/team3/dao/ComplexNumberDao.java
  backend/src/main/java/hu/uni/eku/team3/dao/ComplexNumberDaoImpl.java
  backend/src/main/java/hu/uni/eku/team3/dao/ComplexNumberRepository.java
  backend/src/main/java/hu/uni/eku/team3/dao/EmployeeDao.java
  backend/src/main/java/hu/uni/eku/team3/dao/EmployeeDaoImpl.java
  backend/src/main/java/hu/uni/eku/team3/dao/EmployeeRepository.java
  backend/src/main/java/hu/uni/eku/team3/dao/GuestDao.java
  backend/src/main/java/hu/uni/eku/team3/dao/GuestDaoImpl.java
  backend/src/main/java/hu/uni/eku/team3/dao/GuestRepository.java
  backend/src/main/java/hu/uni/eku/team3/dao/PositionDao.java
  backend/src/main/java/hu/uni/eku/team3/dao/PositionDaoImpl.java
  backend/src/main/java/hu/uni/eku/team3/dao/PositionRepository.java
  backend/src/main/java/hu/uni/eku/team3/dao/ProductsDao.java
  backend/src/main/java/hu/uni/eku/team3/dao/ProductsDaoImpl.java
  backend/src/main/java/hu/uni/eku/team3/dao/ProductsRepository.java
  backend/src/main/java/hu/uni/eku/team3/dao/ServiceDao.java
  backend/src/main/java/hu/uni/eku/team3/dao/ServiceDaoImpl.java
  backend/src/main/java/hu/uni/eku/team3/dao/ServiceRepository.java
  backend/src/main/java/hu/uni/eku/team3/dao/SummaryDao.java
  backend/src/main/java/hu/uni/eku/team3/dao/SummaryDaoImpl.java
  backend/src/main/java/hu/uni/eku/team3/dao/SummaryRepository.java
Labels: Backend, Coding

#37 #36 EmployeeServicek létrehozása
  backend/src/main/java/hu/uni/eku/team3/service/ComplexNumberService.java
  backend/src/main/java/hu/uni/eku/team3/service/ComplexNumberServiceImpl.java
  backend/src/main/java/hu/uni/eku/team3/service/EmployeeService.java
  backend/src/main/java/hu/uni/eku/team3/service/EmployeeServiceImpl.java
  backend/src/main/java/hu/uni/eku/team3/service/exceptions/ComplexNumberAlreadyExistsException.java
  backend/src/main/java/hu/uni/eku/team3/service/exceptions/EmployeeAlreadyExistsException.java
  backend/src/main/java/hu/uni/eku/team3/service/exceptions/EmployeeNotFoundException.java
Labels: Backend, Coding

#42 #41 srs formázási hibák javítása és entity/service javitás
  backend/src/main/java/hu/uni/eku/team3/dao/entity/Service.java
  docs_directory/srs.md
Labels: Backend, Coding, documentation

#54 Bejelentkező nézet hozzá adva
  frontend/package.json
  frontend/src/App.js
  frontend/src/component/Login.js
Labels: Coding, Frontend

#55 #53 Controller/EmployeeController megvalósítása
  backend/backend.iml
  backend/pom.xml
  backend/src/main/java/hu/uni/eku/team3/controller/EmployeeController.java
Labels: Backend, Coding

#65 #58 admin nezet
  frontend/package.json
  frontend/src/App.js
  frontend/src/component/AdminView.js
Labels: Coding, Frontend

#72 #39 faker
  frontend/backend/fakeBackend.js
  frontend/package.json
Labels: Backend, Coding, Frontend

#66 #52_Summary_Controller
  SummaryController.java
Labels: Backend, Coding

#71 #43_GuestService_Implementáció
  GuestAlreadyExistsException.java
  GuestNotFoundException.java
  GuestService.java
  GuestServiceImpl.java
Labels: Backend, Coding

#70 #44_PositionService_implementáció
  PositionAlreadyExistsException.java
  PositionNotFoundException.java
  PositionService.java
  PositionServiceImpl.java
Labels: Backend, Coding

#69 #45_ProductsServiceImplementáció
  ProductAlreadyExistsException.java
  ProductNotFoundException.java
  ProductsService.java
  ProductsServiceImpl.java
Labels: Backend, Coding

#68 #48_GuestController
  GuestController.java
Labels: Backend, Coding

#67 #50_Products_Controller
  ProductsController.java
Labels: Backend, Coding

#73 #62 navigation form létrehozva
  frontend/src/App.js
  frontend/src/component/Navigation.js
  frontend/src/component/ReceptionOnlyButton.js
Labels: Coding, Frontend

#74 #61 kijelenkeztetés
  frontend/backend/fakeBackend.js
  frontend/package.json
  frontend/src/App.js
  frontend/src/component/IdValidation.js
  frontend/src/component/Leaving.js
  frontend/src/component/TableConsumes.js
  frontend/src/component/TableServices.js
Labels: Coding, Frontend

#77 #59 service view
  frontend/package.json
  frontend/src/App.js
  frontend/src/component/IdSearch.js
  frontend/src/component/ServiceView.js
  frontend/src/component/ServieViewTable.js
Labels: Coding, Frontend

#78 #76 store megvalositasa
  frontend/backend/fakeBackend.js
  frontend/package.json
  frontend/src/App.js
  frontend/src/action/ComplexNumberActions.js
  frontend/src/action/LoginActions.js
  frontend/src/component/ComplexNumberList.js
  frontend/src/component/ComplexNumberListItem.js
  frontend/src/component/ComplexNumberRecordingForm.js
  frontend/src/component/Login.js
  frontend/src/component/Navigation.js
  frontend/src/dispatcher/ComplexNumberActionConstants.js
  frontend/src/dispatcher/LoginActionConstans.js
  frontend/src/store/ComplexNumberStore.js
  frontend/src/store/UserStore.js
Labels: Coding, Frontend, bug

#79 SummaryService implementáció #47
  backend/src/main/java/hu/uni/eku/team3/controller/EmployeeController.java
  backend/src/main/java/hu/uni/eku/team3/controller/SummaryController.java
  backend/src/main/java/hu/uni/eku/team3/service/GuestServiceImpl.java
  backend/src/main/java/hu/uni/eku/team3/service/SummaryService.java
  backend/src/main/java/hu/uni/eku/team3/service/SummaryServiceImpl.java
  backend/src/main/java/hu/uni/eku/team3/service/exceptions/SummaryAlreadyExistsException.java
  backend/src/main/java/hu/uni/eku/team3/service/exceptions/SummaryNotFoundException.java
Labels: Backend, Coding

#81 #80_PositionController
  backend/src/main/java/hu/uni/eku/team3/controller/EmployeeController.java
  backend/src/main/java/hu/uni/eku/team3/controller/PositionController.java
  backend/src/main/java/hu/uni/eku/team3/controller/ProductsController.java
  backend/src/main/java/hu/uni/eku/team3/controller/dto/PositionDto.java
  backend/src/main/java/hu/uni/eku/team3/controller/dto/PositionRecordRequestDto.java
  backend/src/main/java/hu/uni/eku/team3/dao/ProductsDaoImpl.java
Labels: Backend, Coding
